<h2>welcome to child component</h2>

<img alt="" class="fadeIn one animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">

<img alt="" class="fadeIn two animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">

<img alt="" class="fadeIn three animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">

<img alt="" class="fadeIn four animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">

<img alt="" class="fadeIn five animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">

<img alt="" class="fadeIn six animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">
<img alt="" class="fadeIn seven animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">
<img alt="" class="fadeIn eight animate" src="https://odis.homeaway.com/odis/destination/81643fe3-de85-4a11-8c0a-1b3133d481c4.carousel-m.jpg">
<button routerLink="/lazy1/load-child">load child</button>