 <a mat-stroked-button routerLink="/">Back</a>

<form class="example-form" #userlogin="ngForm" >

  <mat-form-field class="example-full-width">
    <input [(ngModel)]='fname' name ='fname' matInput placeholder="First Name" class="form-control" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]='lname' name ='lname' matInput placeholder="Last Name" class="form-control" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]='phoneno' name='phoneno' matInput placeholder="Phone Number" class="form-control" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Gender" [(ngModel)]='gender' name='gender' class="form-control" required>
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]='dob' name='dob' matInput [matDatepicker]="picker" placeholder="Date of Birth" class="form-control" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox class="example-full-width" class="form-control" required [(ngModel)]='act' name='act'>Active</mat-checkbox>
  <br>
  <br>
  <div class="example-full-width">
    <!--<button type="button" mat-raised-button>Cancel</button>-->
    <button mat-raised-button color='primary'  [disabled]='!userlogin.valid' (click)="onClickSubmit(userlogin.value); userlogin.resetForm()">Submit</button>
        <button mat-raised-button color='primary'  [disabled]='!userlogin.valid' (click)="update(userlogin.value); userlogin.resetForm()">Update</button>
  </div>
</form>