
<h2> child 2 component</h2>
<h2>welcome to child component</h2>

<img alt="" class="fadeIn one animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">

<img alt="" class="fadeIn two animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">

<img alt="" class="fadeIn three animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">

<img alt="" class="fadeIn four animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">

<img alt="" class="fadeIn five animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">

<img alt="" class="fadeIn six animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">
<img alt="" class="fadeIn seven animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">
<img alt="" class="fadeIn eight animate" src="http://gracebeta.com/PMS-SVN/images/EIKCLOUD/6_4-23-1.jpg">